body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.3;
  color: #1a3441;
} 

.site-nav{
  background: #1a3441;
  padding: 1rem;
  box-shadow: 0 0  5px 0  #1a3441;
  color:#ffffff;
}

.menu-options{
display:flex;
justify-content: space-between;
align-items: center;
}
.option h1{
  font-weight: bold;
  font-size: 14px;
}

.icon{
  width:2rem;
}
/* 
 FORM HEADER 
*/
header{
  margin-bottom: 1.8rem;
}
h2{
  font-size: 3rem;

  text-align: center;
}
 /* 
 default styles
 
 */
 label,input{
   display:block;
   width:100%;
 }
 label{
   font-size: 1.125rem;
   margin-left: 5px ; 
 }
 input{
   border:none;
   padding: 0.5rem 2.5rem 0.25rem 1rem;
   outline: none;
   font-size: 1.  5rem;
   background:transparent;
   font-size:1.5rem;
 }
 
.line{
  background-color:grey;
  width:100%; 
  height: 1px;
}
input:focus +div{
  background-color: #03a9f4; 
  transition: background-color 0.3s ease;
  transform: scale(1, 4);
}
 



 .sign-up{
   max-width: 500px;
   margin: 1rem auto;
   padding: 0 1rem;
 }
 .control{
   margin-bottom:1.5rem;
 }
 .control img{
   float:right;
   margin-top: -2.25rem;
   pointer-events:all;
 }
 .control input[type=submit]{
   background:#03a9f4;
   color:white;
   font-weight: 700;
   font-size: 1.5rem;
   box-shadow: none;
   margin-top: 2rem;
   border-radius: 6px;
   padding: 1rem;
   border:none;
 }

 .terms-conditions{
   width: 90%;
   margin: 0 auto;
 }
 .terms-conditions span{
   color: #03a9f4;
   font-weight: 700;
 }
 
