body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.5;
  font-size: 100%;
} 

.component{
  margin: 4rem auto;
  display:flex;
  justify-content: center;
}

.card, .display{
   box-shadow: 0 0 5px 0 grey;
   padding: 1.5rem 3.5rem;
   border-top: 8px solid crimson;
   border-radius: 6px;
   margin:1rem;
}
.card-header h2, .display h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.control{
  margin-bottom: 1.25rem;
}
.card-body input{
  border:none;
  background:transparent;
  box-shadow: 0 0 5px 0 grey;
  border-radius: 4px;
  padding:0.5rem 1rem;
}
.card-body button {
  border:none;
  background:transparent;
  box-shadow: 0 0 5px 0 grey;
  padding: 0.5rem  1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  background: linear-gradient(to top, rgba(255, 99, 71, 0.39), rgba(255, 99, 71, 0.644))
}
.display{
  padding: 0.5rem;
}
 .array-item{
   box-shadow: 0 0 3px 0 grey;
   padding: 0.5rem;
   width: 100%;
   list-style-type: none;
   display:flex;
   justify-content: space-between;
   align-items:center;
   margin-bottom: 0.5rem;
 }
 .array-item:hover{
   background:rgb(219, 219, 219);
 }
 .remove-icon{
   width: 0.75rem;
   opacity: 0.5;
 }