@font-face {
    font-family: 'Product Bold Italic';
    src: url('../fonts/product/product_sans_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/product/product_sans_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Product Bold';
    src: url('../fonts/product/product_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/product/product_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Product Regular Italic';
    src: url('../fonts/product/product_sans_italic-webfont.woff2') format('woff2'),
         url('../fonts/product/product_sans_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Product Regular';
    src: url('../fonts/product/product_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/product/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}