.site-nav {
  box-shadow: 0 0 5px 0 grey;
  padding: 0.5rem 1rem;
  position: relative;
}

.icon-view {
  display: flex;
  justify-content: space-between;
}

/* 
------------------------------------------------
  Quote Container
------------------------------------------------
*/
.quote {
  display: flex;
  align-items: center;
  margin: 4rem auto;
  max-width: 960px;
}

.options {
  padding: 1rem;
  width: 40%;
  margin-right: 2rem;
}
.options div {
  margin-bottom: 1.5rem;
}
/*
-------------------------------------------------------------------- 
  Output and Product Image
-------------------------------------------------------------------- 
*/
.output header {
  text-align: center;
}
.output img {
  max-width: 320px;
  box-shadow: 0 0 4px 1px grey;
  padding: 0.25rem;
  background: rgb(229, 229, 229);
}
.invoice h3 {
  text-align: center;
}

.invoice {
  box-shadow: 0 0 4px 1px grey;
  padding: 1rem;
}

/* 
 UI Style Class For Components (form elements)
*/

.ui-style {
  display: block;
  font-size: 1.125rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #666;
  margin: 0;
  border: none;
  box-shadow: 0 0 5px 0 grey;
  border-radius: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(
    to bottom,
    rgb(221, 221, 221),
    rgb(240, 240, 240)
  );
}
.ui-select {
  background-image: url("../img/icons/down-arrow.svg"),
    linear-gradient(to bottom, rgb(221, 221, 221), rgb(240, 240, 240));

  background-repeat: no-repeat, repeat;
  background-position: right 0.7rem top 50%, 0 0;
  background-size: 0.65rem auto, 100%;
}
