body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
   display:flex;
    
     margin-right:auto;
  padding: 1rem;
}
.menu li:nth-child(2) {
   margin-right:auto;
}
.menu li {
  margin: 0 0.5rem;
}
.menu img {
  width: 1.5rem;
}
.menu a {
  text-decoration: none;
  background-color: #4285f4;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
/* 
       SEARCH 
*/

.search{
     width: 500px;
 
    margin: 4rem auto;
}
/* text align center is for inline element centering cheap way */
.search header{
    text-align: center;
    margin-bottom: 3rem;
}
.search header img{
    width: 50%;
}
.control{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    box-shadow: 0 0 1px 0 grey;
    border-radius:  1.5rem;
    padding: 0.5rem 1rem;
}
.control:hover{
    box-shadow: 0 0 5px 0 grey;
}
.control img:first-of-type, .control img:last-of-type{
    width: 1rem;
}
.control input{
    flex:1;
    margin: 0 0.25rem;
    border:none;
    font-size: 1.5rem;
}

/*     search options */

.options{
    display:flex;
    justify-content: center;
}

.options button{
    border:none;
    padding: 0.75rem 1rem;
    margin: 0 0.25rem;
    background: #f2f2f2f2;
    border-radius: 4px;
    color: rgb(97, 97, 97);
}

.options  button:hover{
   box-shadow:  0 0 2px 0 rgb(203, 202, 202);
    background:  #e2e2e2f2;
    color: rgb(65, 65, 65);
}