body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.5;
  font-size: 100%;
}

.component {
  margin: 4rem auto;
  display: flex;
  justify-content: center;
}

.card,
.todos {
  box-shadow: 0 0 5px 0 grey;
  padding: 1.5rem 3.5rem;
  border-top: 8px solid crimson;
  border-radius: 6px;
  margin: 1rem;
}
.card-header h2,
.todos h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}
.control {
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
}
.card-body label{
  font-size: 14px;
  color:#666;
  margin-bottom: 0.25rem;
}
.card-body input {
  border: none;
  background: transparent;
  box-shadow: 0 0 5px 0 grey;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}
.card-body select {
  border: none;
  background: transparent;
  box-shadow: 0 0 5px 0 grey;
  border-radius: 4px;
}
.card-body button {
  border: none;
  background: transparent;
  box-shadow: 0 0 5px 0 grey;
  padding: 0.5rem 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  background: linear-gradient(
    to top,
    rgba(191, 191, 191, 0.39),
    rgba(230, 230, 230, 0.644)
  );
}
.todos {
  padding: 0.5rem;
  min-width: 420px;
}
.array-item {
  box-shadow: 0 0 3px 0 grey;
  padding: 0.5rem;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.array-item:hover {
  background: rgb(219, 219, 219);
}

.remove-icon {
  width: 12px;
}
.todo-view{
  position: relative;
}
.time-display{
  position: absolute;
  bottom:0;
  right:0;
}
/* 
TABLE STYLES

*/
table{
  width: 100%;
}
thead th{
  vertical-align: middle;
 text-align: center;
  font-size: 12px;
  color:#fff;
  width: calc(100% / 4);
  background:rgb(170, 171, 170);
}
 
tbody.todo-display{
  background:rgb(238, 238, 238);
  width: 100%;
}
 
.todo-display tr{
  background:rgb(244, 244, 244);
  border-bottom: 2px solid rgb(238, 238, 238);
  text-align: center;
}
.todo-display td{
 
  padding: 0.25rem;
  font-size:14px;
}
.what-todo{
  width: 50%;
  border-right: 1px solid rgb(205, 203, 203);
}
.category{
  width: 35%;
   border-right: 1px solid rgb(205, 203, 203);
}

.remove{
  width: 10px;
  background:crimson;
  width: 5%;
}
.remove img{
  width: 14px;
}
 